.container {
    display: flex;
    flex-direction: column;
}

.details {
    display: flex;
    flex-direction: column;
}

.det-content {
    color:red;
}

.waiting {
    color: brown;
    text-align: center;
    font-size: large;
    font-style: italic;
}